body{
    background-image: url(hatter.jpg);
    background-repeat: no-repeat;
}
.container{
    background-color: lightsalmon;
    border: 5px solid red;    
}

h1{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;    
}
h2{
    font-style: italic;
    
}
h3{
    font-style: italic;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}
li{
    font-family: 'Times New Roman', Times, serif;    
}
ol{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
img{
    float: right;
    margin-left:20px ;
}
a{
    color: red;
    text-decoration: none;
}
a:hover{
    color:blue;
    text-decoration: underline;
    letter-spacing: 2px;
}
a:active{
    color: green;
    text-decoration: underline;
    letter-spacing: 2px;
}